#ficha-proyecto{
	.deepbanner{
		position: relative;
		&:before{
			content: "";
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.25);
			@media (min-width: @screen-sm-min) {
				width: 60%;
				height: 360px;
				background: url('../images/bk.transparencia-negro.png') top right no-repeat;
			}
			@media (min-width: @screen-md-min) {
				width: 50%;
			}
		}
		> .container{
			@media (min-width: @screen-sm-min) {
				min-height: 360px;
			}	
		}
		.h1{
			margin-bottom: 20px;
			font-size: 24px;
			font-weight: 700;
			color: #fff;
			text-transform: uppercase;
			@media (min-width: @screen-sm-min) {
				margin-top: 55px;
				font-size: 55px;
				line-height: .95;
			}
			@media (min-width: @screen-lg-min) {
				font-size: 66px;
			}
		}
		.lead{
			font-size: 15px;
			line-height: 22px;
			color: #fff;
			text-transform: uppercase;
			@media (min-width: @screen-lg-min) {
				font-size: 18px;
				line-height: 25px;
			}
		}
	}
}

#inversion-minima{
	@media (min-width: @screen-sm-min) {
		position: absolute;
		top: 60px;
		left: 45px;
		.rgba(@color: #fff, @alpha: .9);
		z-index: 4;
	}
	@media (min-width: @screen-md-min) {
		left: 145px;
	}
	.number{
		@media (max-width: @screen-xs-max) {
			.rgba(@color: #fff, @alpha: .9);
		}
	}
}

#rentabilidad-prevista-2018{
	color: #fff;
	@media (min-width: @screen-sm-min) {
		position: absolute;
		top: 90px;
		left: 140px;
		.rgba(@color: @pink, @alpha: .9);
		z-index: 3;
	}
	@media (min-width: @screen-md-min) {
		left: 240px;
	}
	.number{
		@media (max-width: @screen-xs-max) {
			.rgba(@color: @pink, @alpha: .9);
		}
	}
}

#rentabilidad-prevista-2017{
	color: #fff;
	@media (min-width: @screen-sm-min) {
		position: absolute;
		top: 160px;
		left: 0;
		.rgba(@color: @medium-blue, @alpha: .9);
		z-index: 5;
	}
	@media (min-width: @screen-md-min) {
		left: 100px;
	}
	.number{
		@media (max-width: @screen-xs-max) {
			.rgba(@color: @medium-blue, @alpha: .9);
		}
	}
}

#numero-inversores{
	@media (min-width: @screen-sm-min) {
		position: absolute;
		top: 10px;
		left: 265px;
		.rgba(@color: #fff, @alpha: .9);
		z-index: 2;
	}
	@media (min-width: @screen-md-min) {
		left: 365px;
	}
	.number{
		@media (max-width: @screen-xs-max) {
			.rgba(@color: #fff, @alpha: .9);
		}
	}
}

#capital-captado{
	color: #fff;
	@media (min-width: @screen-sm-min) {
		position: absolute;
		top: 160px;
		left: 255px;
		.rgba(@color: @medium-blue, @alpha: .9);
		z-index: 1;
	}
	@media (min-width: @screen-md-min) {
		left: 355px;
	}
	.number{
		@media (max-width: @screen-xs-max) {
			.rgba(@color: @medium-blue, @alpha: .9);
		}
	}
}

#ronda-inversion{
	position: relative;
	padding: 10px 0 25px;
	color: #fff;
	.h2{
		margin: 0 0 2px 0;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		strong{
			font-size: 40px;
			font-weight: 700;
		}
	}
	p{
		font-size: 16px;
		line-height: 22px;
		color: rgba(255, 255, 255, 0.8);
		strong,
		.glyphicon{
			color: #fff;
		}
		@media (min-width: @screen-sm-min) {
			padding-top: 18px;
			font-size: 18px;
		}
	}
	background-color: @medium-blue;
}


// Anchors

#project-menu{
	.navbar-nav{
		>li{
			>a{
				font-size: 13px;
				font-weight: 700;
				color: @gray-darker;
			}
		}
	}
}